
.invite{
     font-family: 'Lobster Two', cursive;
     font-size: 50px;;
}
.person{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 28px;
     font-weight: 700;
     color:rgb(245, 84, 26)
}

.hot-item{
     border-radius:30px;;
}
.badge{
     margin-top: -25px;
}
.toast{
     border-left: 10px solid rgb(27, 126, 255)
}
.toast:hover{
     border:2px solid rgb(27, 126, 255);
     border-left: 10px solid rgb(27, 126, 255)
}
